.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 600px) {
    #all {
        width: 100%;
    }

    #resize {
        width: 60%;
        display: table-cell;
        vertical-align: middle;
    }

    #resizeTop {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }

    #resizeBottom {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        text-align: center;
    }

    #resizeAvatar1 {
        width: 55%;
        margin: auto;
    }

    #resizeAvatar2 {
        width: 30px;
        margin-top: -20px;
        margin-left: 38%;
    }

    #icon {
        margin: auto;
        width: 50%;
    }

    #resizeList {
        margin-left: 20%;
        width: 50%;
    }

    .mobile-view-large {
        max-width: 100% !important;
        flex-basis: 100% !important;
    }
}